######question-1####
who scored the highest six in ipl history
expected
  the highest six scored is chris gayle
  
actual
 chris gayle 


######question-2####
 Who scored the most runs in IPL history?
 expected
  v kholi
actual
 Virat Kohli

#####question-3####
 Who hit the most fours in IPL history?
 expected
  v kholi
actual
Shikhar Dhawan

#####question-4####
Which team has won the most IPL matches?
expected
	Mumbai Indians	155

actual
Mumbai Indians.

#####question-5####
Who has taken the most wickets in IPL?
expected

bowler	wickets
YS Chahal	228


actual
Yuzvendra Chahal.

####question-6#####
Most Player of the Match Awards?

expected
player_of_match	awards
AB de Villiers	25

actual
AB de Villiers / Chris Gayle

####question-7#####
Most Dot Balls?

Description: Find the bowler who has bowled the most dot balls in IPL history.

expected
B Kumar

actual
Bhuvneshwar Kumar / Ravindra Jadeja



    
